$primary: #d20961;
$secondary:#f47720;
$success: #78c242;
$info: #00a78e;
$warning: #01bce3;
$danger: #7e3f99;
$light: rgb(238, 238, 238);
$dark: rgb(19, 19, 19);


//  import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss'